/* --------- */
/* Navbar Section  */
/* --------- */
.sticky {
    height: 100%;
    transition: all 0.3s ease-out 0s !important;
    display: flex;
}

.navbar {
    display: flex;
    width: 100%;
    height: 10em;
    background-color: #1b1a2ea9 !important;
    backdrop-filter: blur(15px) !important;
    box-shadow: 0 10px 10px 0 rgba(9, 5, 29, 0.171) !important;
    position: fixed !important;
    transition: all 0.3s ease-out 0s !important;
    padding: 0 2rem !important;
    font-size: 1.2rem !important;
}

.navbarItems{
    display: flex;
    height: 100%;
}

.navLink {
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
    text-decoration: none;
    color: #b99666;
    padding: 20px 0px;
    margin: 0px 20px;
    display: inline-block;
    position: relative;
    opacity: 0.75;
}

.navLink:hover {
    opacity: 1;
}

.navLink::before {
    transition: 300ms;
    height: 5px;
    content: "";
    position: absolute;
    background-color: #b99666;
}

.navLink::before {
    width: 0%;
    bottom: 10px;
}

.navLink:hover::before {
    width: 100%;
}


@media (max-width: 767px) {
    .navbar {
        padding: 0 2rem !important;
        font-size: 1.4rem !important;
        background-color: #181a27 !important;
    }
    .navbar-nav .nav-item a::after {
        display: none !important;
    }
}
.navbar-brand {
    color: rgb(250, 250, 250) !important;
}

.logo {
    height: 37px !important;
}

.navbar-nav .nav-link {
    color: white !important;
    padding-right: 1rem !important;
    padding-left: 1rem !important;
}

.nav-link {
    padding: 0.8rem 1rem !important;
}

.logo{
    width: 200px!important;
    height: 140px!important;
}